:root {
    /* fonts */
  --main-fonts: "Roboto";
  --secondary-font: "Raleway";

    /* text-color */
--accent-color: #757575;
    /* bg-color */

    /* others */
}
body {
font-family: var(--main-fonts) "Roboto", "Raleway", sans-serif;
font-size: 14px;
line-height:1.71;
color: #757575;


}
/* index.html */
.header-logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}
.header-logo {
    list-style: none;
}
.header-list {
    text-decoration: none;
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: #212121;
}
.list{
    list-style: none;
}
.header-list {
    list-style: none;
}
.header-contact {
    text-decoration: none;
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: #757575;
}
.header-list:hover,
.header-list:focus{
    color: #2196F3;
}
.header-contact:hover,
.header-contact:focus{
    color: #2196F3;
}
.hero{
    background-color: #2F303A;
}
.section-hero{
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36x;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
       
}
.btn-hero{
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        color: #FFFFFF;
        background-color: #2196F3;
}
.mission{
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: #212121;
}
.mission-heading{
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: #212121;
}
.features{
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: #757575;
}
.about-heading{
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height:1.16;
        text-align: center;
        color: #212121;
}
.team-heading{
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: #212121;
}
.team-heading{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        color: #212121;
}
.team{
font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: #757575;
}
.footer{
    background-color: #2F303A;
}
.footer-logo{
    text-decoration: none;
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #2196F3;
}
.footer-logo{
    list-style:  none;
}
.address-footer{
    text-decoration: none;
    color: #FFFFFF;
}
.address-footer{
    list-style: none;
}
.footer-contact{
    text-decoration: none;
    font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);
}
.footer-contact{
    list-style: none;
}
.list-footer :hover,
.list-footer :focus {
    color: #2196F3;
}
/* portfolio.html */
.portfolio-heading{
font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    color: #212121;
}
  .button{
    list-style: none;
    color: #212121;
  }
  .button{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        color: #212121;
  }
  .button-filters:hover{
    color: #FFFFFF;
    background-color: #2196F3;
  }
.button-filters:focus{
    color: #FFFFFF;
    background-color: #2196F3;
}
  .project{
    list-style: none;
  }
  .project-heading{
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height: 2.00px;
        color: #212121;
  }
  .title-project{
    font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.88;
        color: #757575;
  }
  






