:root {
    /* fonts */
  --main-font:"Roboto";
  --secondary-font: "Raleway";

    /* text-color */
--accent-color:212121;
    /* bg-color */

    /* others */
}
body {
font-family: var(--main-fonts) "Roboto", "Raleway", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
color: #212121;
}

/* common styles start */
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

/* common styles end */

.menu-nav :hover,
.menu-nav :focus {
    color: #2196F3;
}
.section-hero:hover,
.section-hero:focus {
    color: white; 
    background-color: #2196F3;
}
.address-footer :hover,
.address-footer :focus {
    color: #2196F3;
}

.section-filter :hover {
    color: white;
    background-color: #2196F3;
    width: 200 px;
    height: 50;
}

.section-filter :focus {
    background-color: #2196F3;
    color: white;
}